# Project exclude paths
cmake-build-release/
cmake-build-debug/
**/CMakeFiles/
CMakeCache.txt
Makefile
**/*.a
**/Makefile
tests/run_tests
**/*.cmake
**/*.cbp
**/__pycache__
src/tests/googletest-master/googletest/generated/*
.idea
bin
install_manifest.txt
